@media only screen and (max-width: 1125px) {
  .Blogs_swap_main {
    padding: 0rem 15rem;
  }
}
@media only screen and (max-width: 1030px) {
  .Blogs_swap_main {
    padding: 0rem 9rem;
  }
}
@media only screen and (max-width: 961px) {
  .Blogs_swap_main {
    padding: 0rem 5rem;
    gap: 4rem;
  }
}
@media only screen and (max-width: 900px) {
  .Blogs_swap_main {
    padding: 0rem 0rem;
    gap: 3rem;
  }
}
@media only screen and (max-width: 850px) {
  .Blogs_swap_main {
    padding: 0rem 5rem;
    gap: rem;
  }
}
@media only screen and (max-width: 530px) {
  .Blogs_swap_main {
    padding: 0rem 5rem;
    gap: rem;
  }
  .Blog_back_img {
    object-fit: cover;
    width: 63.7rem;
    height: 39.2rem;
  }
  .Blog_Main_Data {
    width: 66rem;
    padding: 0rem 1rem;
  }
}
@media only screen and (max-width: 440px) {
  .Blogs_swap_main {
    padding: 0rem 5rem;
    gap: rem;
  }
  .Blog_back_img {
    object-fit: cover;
    width: 50.7rem;
    height: 32.2rem;
  }
  .Blog_Main_Data {
    width: 53rem;
  }
}
@media only screen and (max-width: 380px) {
  .Blogs_swap_main {
    padding: 0rem 3rem;
    gap: rem;
  }
  .Blog_back_img {
    object-fit: cover;
    width: 46.7rem;
    height: 30.2rem;
  }
  .Blog_Main_Data {
    width: 49rem;
  }
}
