.User_Reviews_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Reviews_left_side {
  display: flex;
  flex-direction: column;
  min-width: 59%;
  padding-left: 24%;
}
.Top_Reviews_fixed_block {
  display: flex;
  flex-direction: column;
}

.Reviews_Title {
  width: 70%;
}
.User_reviews_Update_block {
  display: flex;
}
.User_reviews_Update_block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4.5rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  touch-action: none;
  width: 72%;
  padding: 2rem 4rem 2rem 0rem;
  margin-left: 1rem;
}
.User_reviews_Update_block::-webkit-scrollbar {
  display: none;
}

.Reviews_box_main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.Reviews_top_side {
  display: flex;
  flex-direction: column;
}
.User_Which_type_work {
  font-size: 1.9rem;
  line-height: 2.1rem;
  color: #7e7e7e;
  font-family: "Sf_pro_Regular";
}
.User_Works_Name {
  font-size: 2.5rem;
  line-height: 2.6rem;
  color: #000000;
  margin-top: 0.4rem;
  font-family: "Sf_pro_Bold";
}
.User_Work_StarRating {
  font-size: 1.5rem;
}
.Reviews_bottom_side_Reviews p {
  font-size: 2rem;
  line-height: 2.8rem;
  color: #7e7e7e;
  min-width: 50.5rem;
  min-height: 13.7rem;
  font-family: "Futura_Medium";
}
.Change_User_reviews {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.Arrow_btn_review{
  cursor: pointer;
}
.Reviews_Right_side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 40%;
  min-height: 63.1rem;
}
.Reviews_Right_side img {
  width: 85%;
  object-fit: cover;
  object-position: center;
}
