.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #111111;
}

.Gym_webSite_Slider {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.Gym_webSite_Category {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.Gym_webSite_About_US {
  /* border: 2px solid black; */
  /* height: 70vh; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 12rem;
}
.Gym_webSite_Choose_Us {
  background-color: #111111;
  /* height: 80vh; */
  /* display: flex; */
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 15rem;
}
.Gym_webSite_Reviews {
  padding-top: 22rem;
}
.Gym_webSite_Four_Icon {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 18rem;
  background-color: black;
  color: white;
  min-height: 35rem;
  padding-top: 5rem;
}
.Gym_webSite_SingleVideo {
  /* padding-top: 10rem; */
}
.Gym_webSite_ProteanBox {
  background-image: url("./assets/imges/protoanBox_Backgriond.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  padding-top: 5rem;
}
.Gym_webSite_Vertical_Line {
  display: none !important;
}
.box_line {
  display: none !important;
}
.Gym_webSite_SmallProteanBox {
  background-image: url("./assets/imges/protinBoxBack.png");
  object-fit: contain;
  object-position: top right;
  /* height: 65vh;/ */
  /* border: 2px solid brown; */
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.Gym_webSite_Our_Blogs {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 5rem;
}
.Gym_webSite_User_Adders {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 19rem;
  height: 40vh;
  padding-bottom: 5rem;
  background-color: #eeeeee;
}
.Gym_webSite_Footer {
  background-color: #111111;
  width: 100%;
  height: 42.2rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
