.Protean_Box_container {
  display: flex;
  align-items: center;
}
.Protean_Box_Left_container {
  padding-left: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.Protean_Box_Right_side img {
  width: 73.9rem;
  height: 90rem;
  object-fit: contain;
  object-position: top center;

  right: 5rem;
}
.Protean_Box_Right_side {
  position: relative;
}
